<div class="row">

  <div class="card" style="width:100%">
    <div class="card-body">
      <!-- <h3 class="card-title">Default Tabset</h3>
            <h6 class="card-subtitle">This is basic Default pagination</h6> -->
      <ngb-tabset>
        <ngb-tab title="Personel Detail">
          <ng-template ngbTabContent>
            <div class="card-body">
              <small class="text-muted">Name</small>
              <h6>Moninder</h6>
              <small class="text-muted p-t-30 db">Date of Birth </small>
              <h6>12/04/1988</h6>
              <small class="text-muted p-t-30 db">Email address </small>
              <h6>hannagover@gmail.com</h6>
              <small class="text-muted p-t-30 db">Phone Number </small>
              <h6>8054079755</h6>
              <small class="text-muted p-t-30 db">City</small>
              <h6>Chandigarh</h6>
              <small class="text-muted p-t-30 db">Country</small>
              <h6>India</h6>
              <small class="text-muted p-t-30 db">ZipCode</small>
              <h6>160001</h6>
              <small class="text-muted p-t-30 db">Joining Date</small>
              <h6>12-11-2018</h6>
              <small class="text-muted p-t-30 db">Bitlus Number</small>
              <h6>zxenunber1#23</h6>
              <small class="text-muted p-t-30 db">Sponsor Bitlus Number </small>
              <h6>sponsorzedXenumber#12</h6>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Verification</b></ng-template>
          <ng-template ngbTabContent>
            <div class="card-body">
              <small class="text-muted">ID Type</small>
              <h6>Passport</h6>
              <small class="text-muted p-t-30 db">1st Level KYC </small>
              <h6>Completed</h6>
              <small class="text-muted p-t-30 db">2nd Level KYC(Cancelled cheque/Passbook Front page)</small>
              <h6>Completed</h6>
            </div>
          </ng-template>
        </ngb-tab>
        <!-- <ngb-tab>
                  <ng-template ngbTabTitle><b>Fancy2</b></ng-template>
                <ng-template ngbTabContent>
                  <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                  master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                  dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                  iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </ng-template>
              </ngb-tab> -->
      </ngb-tabset>
    </div>
  </div>

</div>