<div class="row">
    <!-- column -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-secondary" style="margin-left:10px;height: 36px;width: 88px;float:right;" ng-click="GetBuyDetails()">Change</button>
          <select class="form-control custom-select" style="width:16%;float:right;margin-left: 5px;">
            <option value="1">BTC</option>
            <option value="1">ETH</option>
            <option value="1">ZAR</option>
    
          </select>
        </div>
      </div>
    </div>  
  </div>
<div class="row">
  <div class="currency_block" style="background-color: lightgray;">
    <div class="currency_block_inner" style="background-color:lightgray; height: 50px;">                         
      <div class="currency_actions">
        <ul>
          <li><label>Bitcoin </label> </li>
          <li>
            <ul>
              <li><i class="mdi mdi-currency-btc"></i></li>
              <li><i class="fa fa-arrows-h"></i></li>
              <li><img class="ethereum" src="../../../assets/images/eth.png"> </li>
            </ul> 
          </li>
          <li><label>Ethereum</label>  </li>
        </ul>
      </div>      
    </div>
    <div  style="background-color:lightgray;text-align: right;padding: 10px 15px;">
      <i class="mdi mdi-block-helper" style="color: red;"></i>
    </div>
  </div>
</div>