<div class="row">
    <div class="col-sm-12">
        <div class="card card-body">
            <form #userForm="ngForm" class="form-horizontal m-t-30" (ngSubmit)="ChangePassword(userForm)">
               
                <div class="form-group">
                    <label>Old Password</label><br />
                    <input id="oldPassword" name="oldPassword"  type="password" class="form-control" required  ngModel #oldPassword="ngModel" style="width: 335px" autocomplete="off">
                    <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert alert-danger" style="width: 335px">
                        <div *ngIf="oldPassword.errors.required"> Old Password is required. </div>
                    </div>
                </div>
           
                <div class="form-group">
                    <label>New Password</label><br />
                    <input pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}" id="newPassword" name="newPassword"  type="password" class="form-control" required  [(ngModel)]="newUser.newPassword" #newPassword="ngModel" style="width: 335px" autocomplete="off">
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger" style="width: 335px">
                        <div *ngIf="newPassword.errors.required">New  Password is required. </div>
                        <span *ngIf = "newPassword.errors.pattern" >Password must include: Uppercase character, Numbers, Special character and 9 characters long.</span>

                    </div>
                </div>

                <div class="form-group">
                    <label>Confirm Password</label><br />
                    <input id="confirmedPassword" name="confirmedPassword"  type="password" class="form-control" required  [(ngModel)]="newUser.confirmedPassword" #confirmedPassword="ngModel" style="width: 335px" autocomplete="off">
                    <div *ngIf="confirmedPassword.invalid && (confirmedPassword.dirty || confirmedPassword.touched)" class="alert alert-danger" style="width: 335px">
                        <div *ngIf="confirmedPassword.errors.required">Confirmation is required. </div>
                    </div>
                </div>
                <!-- <div class="form-group row p-t-20">
                    <div class="col-sm-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="comission" [(ngModel)]="newUser.comission" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Comission Section</label>
                        </div>
                    </div>
                </div> -->
                <button type="submit" class="btn btn-danger" [disabled]="userForm.invalid">Update</button>
                <button type="button" class="btn btn-inverse" [routerLink]="['/admin-dashboard-section/admin-profile']" style="margin-left:10px;">Cancel</button>
            </form>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Row -->
