<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <div class="trade_filter_sec">
                <div class="col" style="margin-bottom: 30px;">
                  <form #searchForm="ngForm" class="form-horizontal m-t-30" (ngSubmit)="FilterTraders(searchForm)">
                    <ul class="top_filters">
                      <li class="date">
                          <label>From</label>
                          <input placeholder="FromDate" type="date" name="fromDate"  class="form-control"  [(ngModel)]="tradeSearchModel.fromDate">
                        </li>
                      <li class="date">
                          <label>To</label>
                          <input placeholder="ToDate" type="date"  name="toDate"  class="form-control date" [(ngModel)]="tradeSearchModel.toDate">
                        </li>
                      <li>
                          <label>Email</label>
                          <input autocomplete="off" type="text" class="form-control" name="email" [(ngModel)]="tradeSearchModel.email">
                        </li>
                      <li>
                          <label>User ID(Bitlus ID)</label>
                          <input autocomplete="off" type="text" class="form-control"   name="referredBy" [(ngModel)]="tradeSearchModel.referredBy">
                        </li>
                      <li>
                          <label>Country</label>
                          <!-- <input type="text" class="form-control"   name="country" [(ngModel)]="tradeSearchModel.country"> -->
                          <select  style="font-size: 11px;"  class="form-control custom-select"  name="country" [(ngModel)]="tradeSearchModel.country">
                              <option selected value="">Select Country</option>
                              <option [value]="list.text" *ngFor="let list of countryLists">{{list.text}}</option>
                              <!-- <option value="US">US</option>
                              <option value="Australia">Australia</option> -->
                          </select>
                        </li>
                      <li>
                          <label>&nbsp;</label>
                          <button type="submit" [disabled]="searchForm.invalid" class="btn btn-secondary" style="margin-right:10px;">Search</button>
                          <button (click)="resetFilter(searchForm)" [disabled]="searchForm.invalid" class="btn btn-secondary">Reset</button>
                        </li>
                        <!-- <li>
                          <label>&nbsp;</label>
                          <button type="submit" [disabled]="searchForm.invalid" class="btn btn-secondary">Reset</button>
                        </li> -->
                      </ul>  
                    </form>    
                       </div>
                    <div class="col" style="margin-bottom: 10px;">
                          <a style="cursor:pointer"  (click)="DownloadCSV()"> <i class="mdi mdi-arrow-down-box pointer"> </i>Download CSV file</a>
                          <label style="float: right;">Total Users: {{totalRecords}}</label>
                       </div>
                   </div> 

                    <table class="table">
                        <thead>
                          <tr>
                            <th>User ID</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th style="padding-left:96px;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of tradersLists | paginate: { itemsPerPage: 10, currentPage: pageNo ,totalItems:totalRecords}">
                              <td>{{list.member_id}} </td>
                              <td>{{list.email}}</td>
                              <td>
                                  <span *ngIf="list.first_name">{{list.first_name}} {{list.last_name}}</span>
                                  <span *ngIf="!list.first_name">N/A</span>
                                  </td>
                              <td>
                                  <a [routerLink]="['/admin/users-view/',list.member_id]"> <i class="ti-eye text-warning m-r-10"></i></a>|
                                  <button style="min-width: 71px;" type="submit" class="btn" [ngClass]="{ 'btn-danger': list.account_status==1, 'btn-success': list.account_status!=1  }" (click)="open(list.member_id,list.account_status)"  >{{ list.account_status == 1 ? 'Lock' : 'UnLock' }}</button> |
                                  <button [disabled]="list.google2fa_status==0" type="submit" style="background: #0fc776" class="btn sendAuthBtn" (click)="OpenAuthKeyModal(list.member_id)">Send Auth Key</button><span *ngIf="list.login_attempts_blocked != 0"> | </span>
                                  <button style="min-width: 71px;"  class="btn" *ngIf="list.login_attempts_blocked != 0" (click)="unlockPassword(list.member_id)">Unlock User</button>
                                </td>
                            </tr>
                            <tr *ngIf="empty">
                                    <td colspan="3">No Record found</td>
                                 </tr>
                           
                        </tbody>
        
                      </table>
                      <div class="pull-right" *ngIf="!empty">
                          <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
                       </div>
             </div>
         </div>
     </div>
  
 </div>
 <ng-template #content let-modal>
        <div class="modal-header">
          <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
          <button type="button" class="close" aria-label="Close" (click)="modalRef.close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <!-- <label for="dateOfBirth">Date of birth</label> -->
              <div class="input-group">
                
                <h5>{{memberStatus==1?'Do you really want to lock this User?':'Do you really want to unlock this User?'}}</h5>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="lockTrader()">Yes</button>
        </div>
      </ng-template>

<ng-template #content1 let-modal>
            <div class="modal-header">
              <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
              <button type="button" class="close" aria-label="Close" (click)="modalRef.close()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <!-- <label for="dateOfBirth">Date of birth</label> -->
                  <div class="input-group">
                    
                    <h5>Do you really want to send authentication key to this user?</h5>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="sendAuthKey()">Yes</button>
            </div>
    </ng-template>
